<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button id="home-button11" ion-button color="positive" block (click)="onScanClick()">
    <ion-icon name="qr-scanner"></ion-icon>
  </button>

  <ion-list>
    <ion-card ion-item *ngFor="let coup of coups" (click)="goCoupDetail(coup)">
      <ion-card-header>
        {{ coup.cafe }}
      </ion-card-header>
      <ion-card-content>
      <ion-icon name="cafe"></ion-icon> {{ coup.stemps }}
      </ion-card-content>
    </ion-card>  
  </ion-list>
</ion-content>

<!--  <ion-list>
    <button ion-item *ngFor="let coup of coups" (click)="goCoupDetail(coup)">
      {{ coup.cafe }} <br>
      {{ coup.stemps }}
    </button>  
  </ion-list>
-->